
#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: rgba(247, 223, 249, 0.801);
    border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}
#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.SkillBar {
    width: 90%;
    height: 50px;
    border-radius: 15px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}

#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}

#Skill-CSS {
    animation: Animate-CSS 4s;
    -webkit-animation: Animate-CSS 4s;
    -moz-animation: Animate-CSS 4s;
    -o-animation: Animate-CSS 4s;
    width: 90%;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}

#Skill-BOOTSTRAP {
  animation: Animate-BOOTSTRAP 5s;
  -webkit-animation: Animate-BOOTSTRAP 5s;
  -moz-animation: Animate-BOOTSTRAP 5s;
  -o-animation: Animate-BOOTSTRAP 5s;
  width: 80%;
  height: 50px;
  border-radius: 15px;
  position: absolute;
  background-color: #5aa669;
}
@keyframes Animate-BOOTSTRAP {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-webkit-keyframes Animate-BOOTSTRAP {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-moz-keyframes Animate-BOOTSTRAP {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-o-keyframes Animate-BOOTSTRAP {
  from {
  width: 10px;
}
to {
  width: 80%}
}

#Skill-GIT {
  animation: Animate-GIT 5s;
  -webkit-animation: Animate-GIT 5s;
  -moz-animation: Animate-GIT 5s;
  -o-animation: Animate-GIT 5s;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  position: absolute;
  background-color: #f8a51e;
}
@keyframes Animate-GIT {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-webkit-keyframes Animate-GIT {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-moz-keyframes Animate-GIT {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-o-keyframes Animate-GIT {
  from {
  width: 10px;
}
to {
  width: 70%}
}

#Skill-JS {
  animation: Animate-JS 4s;
  -webkit-animation: Animate-JS 4s;
  -moz-animation: Animate-JS 4s;
  -o-animation: Animate-JS 4s;
  width: 30%;
  height: 50px;
  border-radius: 15px;
  position: absolute;
  background-color: #c44e45;
}
@keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 30%}
}@-webkit-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 30%}
}@-moz-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 30%}
}@-o-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 30%}
}

#Skill-PHP {
  animation: Animate-PHP 4s;
  -webkit-animation: Animate-PHP 4s;
  -moz-animation: Animate-PHP 4s;
  -o-animation: Animate-PHP 4s;
  width: 50%;
  height: 50px;
  border-radius: 15px;
  position: absolute;
  background-color: #5A69A6;
}
@keyframes Animate-PHP {
  from {
  width: 10px;
}
to {
  width: 50%}
}@-webkit-keyframes Animate-PHP {
  from {
  width: 10px;
}
to {
  width: 50%}
}@-moz-keyframes Animate-PHP {
  from {
  width: 10px;
}
to {
  width: 50%}
}@-o-keyframes Animate-PHP {
  from {
  width: 10px;
}
to {
  width: 50%}
}
/* 
#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 40%;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}

#Skill-React {
    animation: Animate-React 4s;
    -webkit-animation: Animate-React 4s;
    -moz-animation: Animate-React 4s;
    -o-animation: Animate-React 4s;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes Animate-React {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-React {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-React {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-React {
    from {
    width: 10px;
}
to {
    width: 30%}
}

#Skill-WORDPRESS {
    animation: Animate-WORDPRESS 4s;
    -webkit-animation: Animate-WORDPRESS 4s;
    -moz-animation: Animate-WORDPRESS 4s;
    -o-animation: Animate-WORDPRESS 4s;
    width: 25%;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    background-color: #8e930c;
}
@keyframes Animate-WORDPRESS {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-webkit-keyframes Animate-WORDPRESS {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-moz-keyframes Animate-WORDPRESS {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-o-keyframes Animate-WORDPRESS {
    from {
    width: 10px;
}
to {
    width: 25%}
}

#Skill-NodeJS {
    animation: Animate-NodeJS 4s;
    -webkit-animation: Animate-NodeJS 4s;
    -moz-animation: Animate-NodeJS 4s;
    -o-animation: Animate-NodeJS 4s;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-NodeJS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-NodeJS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-NodeJS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-NodeJS {
    from {
    width: 10px;
}
to {
    width: 80%}
} */

.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}