html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*HEADER*/
header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.btncolor {
    color:white;
}

.anim {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: font-size 0.2s linear 0.1s;
  }

.anim:hover{
    font-size: 30px;
  }

  #navbarNavAltMarkup{
    text-align: center;
  }

  div.navbar-nav{
    align-items: center;
  }
  /*------------------------------------------------------*/

  /*Images en background*/
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  
  }
  .bgimg-1 {
    background-image: url("img/orion-nebula.jpg");
    min-height: 100vh;
  }
  
  .bgimg-2 {
    background-image: url("img/galaxy.jpg");
    min-height: 800px;
  }
  
  .bgimg-3 {
    background-image: url("img/constellations.jpg");
    min-height: 800px;
  }

  .bgimg-4 {
    background-image: url("img/galaxy2.jpg");
    min-height: 100vh;
  }

  .bgimg-5 {
    background-image: url("img/stars.jpg");
    min-height: 100vh;
  }

  .bgimg-6 {
    background-image: url("img/astronomy.jpg");
    min-height: 100vh;
  }

  .bgimg-7 {
    background-image: url("img/galaxy1.jpg");
    min-height: 100vh;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
  }

  h1{
    background-color: rgba(51, 6, 51, 0.678);
    color: #fff;
    width: 60%;
    margin: auto;
    padding: 10px;
    font-size: 60px;
    letter-spacing: 8px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .caption p.intro{
    background-color: rgba(51, 6, 51, 0.678);
    color: #fff;
    width: 80%;
    margin: auto;
    padding: 18px;
    font-size: 50px;
    letter-spacing: 8px;
    border-radius: 5px;
  }

  /*Textes et sections dans les background*/

  .text{
    height: 120px;
    text-align: center;
    background-color: rgba(51, 6, 51, 0.322);
  }

  h2{
    font-size: 50px;
    margin: auto;
    line-height: 120px;
    font-family: 'Courgette', cursive;
  }

  .bgimg-2, .bgimg-3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .bgimg-2 p{
    margin: 0;
    padding: 30px;
    width: 40%;
    border-radius: 10px;
    background-color: rgba(65, 10, 65, 0.931);
    color: #fff;
    font-size: 18px;
  }

  article.bgimg-2 img{
    width: 20%;
    border-radius: 10px;
  }

  .bgimg-3 section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 30px;
    width: 40%;
    height: 600px;
    border-radius: 10px;
    background-color: rgba(208, 163, 208, 0.931);
    color: #fff;
    font-size: 18px;
  }

  .bgimg-3 section div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }

  .bgimg-3 div img{
    width: 50%;
  }

  .bgimg-4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 1400px;
  }

  .bgimg-4 div{
    margin: 0;
    padding: 30px;
    width: 70%;
    border-radius: 10px;
    background-color: rgba(65, 10, 65, 0.931);
    color: #fff;
    font-size: 18px;
  }

  .bgimg-4 h3, .bgimg-5 h3{
    margin-bottom: 0;
  }

  .bgimg-4 h4, .bgimg-5 h4{
    margin-top: 0;
    font-size: small;
  }

  .bgimg-5{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .bgimg-5 div{
    margin: 0;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(65, 10, 65, 0.931);
    color: #fff;
    font-size: 18px;
  }

  .bgimg-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bgimg-7 div{
    margin: 0;
    padding: 20px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(65, 10, 65, 0.931);
    color: #fff;
    font-size: 18px;
  }

  .bgimg-7 div a{
    text-decoration: none;
    color: #fff;
  }

  .bgimg-7 div a:hover{
    text-decoration: underline;
  }

  .bgimg-7 .adress{
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgba(208, 163, 208, 0.931);
  }

  div.GITHUB{
    width: 100px; 
    height:100px;
    align-self: flex-start;
    border-radius: 50%; 
    background-color: aliceblue;
    margin-left: 150px;
  }

  div.LINKEDIN{
    width: 100px; 
    height:100px;
    align-self: flex-end;
    border-radius: 50%; 
    background-color: aliceblue;
    margin-right: 150px;
  }
  
  /*Bouton + animation*/
  button.topUp{
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    background-color: rgb(102, 12, 102);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: move;
  }

  @keyframes move {
    from{
      bottom: 20px;
    }
    to{
      bottom: 40px;
    }
  }

  .bouton{
    width: 100%;
    margin-top: 4px;
  }

  button.topUp:hover{
    width: 60px;
    height: 60px;
    background-color: rgb(192, 159, 192);
  }

  /*MEDIA QUERIES*/

  @media screen and (max-width:480px){
    h1.intro{
      font-size: 20px;
      border-radius: initial;
      margin: 0;
      width: 100%;
      height: 60px;
    }

    div.caption p.intro{
      font-size: 20px;
      letter-spacing: 5px;
      border-top-left-radius: initial;
      border-top-right-radius: initial;
      width: 95%;
    }

    h2{
      font-size: 30px;
    }

    .bgimg-2{
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }

    .bgimg-2 p{
      width: 80%;
      font-size: 16px;
      margin: 10px;
    }

    article.bgimg-2 img{
      width: 50%;
      border-radius: 50%;
      margin: 10px;
    }

    .bgimg-3 section{
      width: 80%;
    }

    .bgimg-4 div{
      width: 80%;
      margin: 10px;
    }

    .bgimg-5 div{
      margin: 10px;
    }

    .bgimg-7 div:nth-child(2){
      width: 80%;
      margin: 15px;
    }

    article.bgimg-7 div.adress{
      width: 80%;
    }
  }

  @media screen and (max-width:768px){
    h1{
      font-size: 50px;
    }

    .caption p.intro{
      font-size: 40px;
    }

    h2{
      font-size: 30px;
    }

    .bgimg-2{
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }

    .bgimg-2 p{
      width: 80%;
      font-size: 16px;
      margin: 10px;
    }

    article.bgimg-2 img{
      width: 50%;
      border-radius: 50%;
      margin: 10px;
    }

    .bgimg-3 section{
      width: 80%;
    }

    .bgimg-4 div{
      width: 80%;
      margin: 10px;
    }

    .bgimg-5 div{
      margin: 10px;
    }

    .bgimg-7 div:nth-child(2){
      width: 80%;
      margin: 15px;
    }

    article.bgimg-7 div.adress{
      width: 80%;
    }
  }